
body {
    padding-bottom: 7em;
}

h2 {
    padding-top: 2em;
    text-align: center;
}

.header {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

.paragraph {
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
}

.poem {
    padding-bottom: 3em;
}

.card-body {
    margin-top: 6em;
}